.services-container {
  background-color: #ffffff;
  color: #333333;
  padding: 4rem 2rem;
}

.services-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.service {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.service p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.button-primary {
  background-color: #006633;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button-primary:hover {
  background-color: #004d26;
}
