:root {
  --bg-green: #064e3b;
  --logo-height: 100px;
  --header-height: 100px;
  --menu-top-height: 50px;
  --aside-width: 200px;
  --footer-height: 40px;
  --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
  --font-color: #dcdcdc;
  --gradient: linear-gradient(135deg, #064e3b 0%, #0f9b0f 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-rows: var(--logo-height) 1fr var(--footer-height);
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-areas:
    'logo header'
    'menu content'
    'menu footer';
  height: 100vh;
  font-weight: 300;
}

aside.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-green);
}

aside.logo a {
  padding: 10px;
  width: 100%;
}

aside.menu-area {
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-green);
  color: var(--font-color);
}

header.header {
  grid-area: header;
  padding: 0px 10px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-green);
  color: var(--font-color);
}

header.header h1 {
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_links {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.header nav > a {
  padding: 7px;
  margin: 2px;
}

.youtube:hover {
  background: #ff0000; /*Cor oficial do Youtube*/
  border-radius: 5px;
  transition: 1s;
}

.youtube {
  background: rgba(255, 0, 0, 0.7); /*Cor oficial do Youtube*/
  border-radius: 5px;
  transition: 1s;
}

.facebook:hover {
  background: #4267b2; /*Cor oficial do Facebook*/
  border-radius: 5px;
  transition: 1s;
}

.facebook {
  background: rgba(66, 103, 178, 0.6); /*Cor oficial do Facebook*/
  border-radius: 5px;
  transition: 1s;
}

.instagram:hover {
  background: #f56040; /*Cor oficial do Instagram*/
  border-radius: 5px;
  transition: 1s;
}

.instagram {
  background: rgba(245, 96, 64, 0.5); /*Cor oficial do Instagram*/
  border-radius: 5px;
  transition: 1s;
}

.twitter:hover {
  background: #1da1f2; /*Cor oficial do Twitter*/
  border-radius: 5px;
  transition: 1s;
}

.twitter {
  background: rgba(29, 161, 242, 0.6); /*Cor oficial do Twitter*/
  border-radius: 5px;
  transition: 1s;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--font-color);
}

.menu a:hover {
  border-radius: 10px;
  background: var(--gradient);
  font-style: italic;
  font-size: 1.1em;
  transition: 500ms;
}

main.content {
  grid-area: content;
  background-color: #effbfb;
}

main.content h2 {
  margin: 10px;
  text-align: center;
}

footer.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  background-color: var(--bg-green);
}

footer.footer a {
  text-decoration: none;
  font-size: small;
  color: var(--font-color);
}

.content_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--menu-top-height) 1fr 1fr;
  grid-template-areas:
    'header_main header_main'
    'planilhas dicas'
    'cursos videos';
  height: calc(100% - var(--footer-height));
  row-gap: 10px;
  column-gap: 10px;
}

.header_main {
  grid-area: header_main;
  color: var(--bg-green);
}

.planilhas {
  grid-area: planilhas;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planilhas a {
  padding: 50px 85px;
  margin: 25px;
}

section > a {
  text-decoration: none;
  box-shadow: var(--shadow);
  border-radius: 10px;
  background-color: var(--bg-green);
  color: var(--font-color);
  font-weight: bold;
}

section > a:hover {
  background: var(--gradient);
  font-style: italic;
  font-size: 1.3em;
  transition: 500ms;
}

.dicas {
  grid-area: dicas;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dicas a {
  padding: 50px;
  margin: 25px;
}

.cursos {
  grid-area: cursos;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursos a {
  padding: 50px 90px;
  margin: 25px;
}

.videos {
  grid-area: videos;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos a {
  padding: 50px 90px;
  margin: 25px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header_about header_about header_about'
    'objetivo metodologia aplicacao';
  height: calc(100% - var(--footer-height));
  row-gap: 5px;
  column-gap: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding: 0px 5px;
  margin: 0px 5px;
  color: var(--bg-green);
}

.header_about {
  grid-area: header_about;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  margin-top: 15px;
  padding: 5px 0px;
}

.objetivo {
  grid-area: objetivo;
  display: flex;
  justify-content: center;
}

.metodologia {
  grid-area: metodologia;
  display: flex;
  justify-content: center;
}
.aplicacao {
  grid-area: aplicacao;
  display: flex;
  justify-content: center;
}

a.metod_videos {
  text-decoration: none;
  color: var(--bg-green);
}

.content {
  color: var(--bg-green);
}

.dicas_page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas: 'dicas_header' 'dicas_content';
}

.dicas_header {
  grid-area: dicas_header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  padding: 5px 0px;
}

.dicas_content {
  grid-area: dicas_content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 35px;
  grid-template-areas: 'slider' 'dots';
}

.plan_page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 'plan_header' 'plan_content';
}

.plan_header {
  grid-area: plan_header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  padding: 5px 0px;
}

.plan_content {
  grid-area: plan_content;
  display: flex;
  padding: 5px;
}

.contato_page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 'contato_header' 'contato_content';
}

.contato_header {
  grid-area: contato_header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  padding: 5px 0px;
}

.contato_content {
  grid-area: contato_content;
  display: flex;
  padding: 5px;
}

[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.keen-slider {
  font-size: 15px;
  text-align: justify;
}

.keen-slider h3 {
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 50%;
  border-color: var(--bg-green);
}

.keen-slider p {
  padding: 0px 5px;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(128deg, rgba(64, 175, 255, 1) 0%, rgba(63, 97, 255, 1) 100%);
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(128deg, rgba(255, 154, 63, 1) 0%, rgba(255, 75, 64, 1) 100%);
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(128deg, rgba(182, 255, 64, 1) 0%, rgba(63, 255, 71, 1) 100%);
  background: linear-gradient(128deg, rgba(189, 255, 83, 1) 0%, rgba(43, 250, 82, 1) 100%);
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(128deg, rgba(64, 255, 242, 1) 0%, rgba(63, 188, 255, 1) 100%);
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(128deg, rgba(255, 64, 156, 1) 0%, rgba(255, 63, 63, 1) 100%);
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(128deg, rgba(64, 76, 255, 1) 0%, rgba(174, 63, 255, 1) 100%);
}

.navigation-wrapper {
  position: relative;
  width: 100%;
}

.dots {
  grid-area: dots;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
