/* home.component.css */

/* Estilos para o container principal */
.container {
  text-align: center;
  padding: 20px;
}

/* Estilos para o título principal */
h1 {
  font-size: 2.5rem;
  color: #333;
}

/* Estilos para o parágrafo de descrição */
p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}
